<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" autocomplete="off" novalidate (ngSubmit)="saveprofile(profileForm.value)">
        <div class="form-group" [ngClass]="{'error': !validatedFirstName()}">
          <label for="firstName">First Name:</label>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
          <em *ngIf="!validatedFirstName() && profileForm.controls.firstName.errors?.required">required</em>
          <em *ngIf="!validatedFirstName() && profileForm.controls.firstName.errors?.pattern">this feild must start with letter</em>
        </div>
        <div class="form-group" [ngClass]="{'error': !validatedLastName() }">
          <label for="lastName">Last Name:</label>
          <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
          <em *ngIf="!validatedLastName()">required</em>
        </div>
        <span (mouseenter)="mouseover=true" (mouseleave)="mouseover=false">
        <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Save</button>
        </span>
        <button type="button" class="btn btn-default" (click)="canceled()">Cancel</button>
      </form>
    </div>
  </div>